body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to right,#2c023bf3,#510458);
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}
header{
    text-align: center;
    padding: 20px 0;
    color: azure;
}
main{
    padding: 20px;
}
.search{
    text-align: center;
    margin-bottom: 40px;
}
.search input{
    padding: 10px;
    width: 260px;
    font-size: 14px;
    border-radius: 9px;
    border:none;
    outline:none;
}
.search button{
    padding:10px 20px;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    background-color:rgb(218, 3, 218);
    color:azure;

}
.results{
    display: flex;
    flex-wrap: wrap; 
    gap: 9px;
    justify-content: center; 
    margin-bottom: 40px; 
}

.stock, .crypto{
    background-color:rgb(225, 198, 226);
    text-align: center;
    color:rgb(4, 35, 35);
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 10px #f888e8;


}

.stock h2, .crypto h2{
    margin-top: 0;
    border-bottom: 1px solid #f1ebeb;
    padding-bottom: 10px;
}